@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colorThemePrimary: #f85431;
  --colorThemePrimaryText: #ffffff;
  --colorThemeSecondary: #232323;
  --colorThemeSecondaryText: #ffffff;
  --colorThemeAmber: rgb(252 211 77 / 1);
  --colorTicketSold: #c49639;
  --colorTicketInCart: blue;
  --swiper-theme-color: var(--colorThemePrimary);
  /* Header Colors */
  --primaryHeaderBgclr: transparent;
  --primaryHeaderTextclr: #ffffff;
  --secondaryHeaderBgclr: #fafafa;
  --secondaryHeaderTextclr: #000000;
  /* Footer Colors */
  --primaryFooterBgClr: #232323;
  --primaryFooterTextClr: #ffffff;
  /* Buttons Colors */
  --colorPrimaryBtnText: #ffffff;
  --colorPrimaryBtnBackground: var(--colorThemePrimary);
  --colorPrimaryBtnDisabledBackground: #dd6145;
  --colorPrimaryBtnBackgroundHover: #f74620;

  --colorSecondaryBtnText: #ffffff;
  --colorSecondaryBtnBackground: #232323;
  --colorOutlineBtnText: #ffffff;
  --colorOutlineBtnBackground: #000000;
  /* Fonts */
  --font-poppins: "Poppins", san-serif;
  --primaryFont: var(--font-poppins);
  /* Search Banners Colors */
  --colorIcons: var(--colorThemePrimary);
  --footerBackgroundColor: #232323;
  --footerTextColor: #ffffff;
}

@layer base {
  body {
    font-size: 16px;
    font-family: var(--font-primary);
    line-height: normal;
  }

  html,
  body {
    @apply max-w-full overflow-x-hidden;
  }
  .h1,
  h1 {
    @apply text-3xl md:text-6xl font-bold leading-tight tracking-widest;
  }

  .h2,
  h2 {
    @apply text-3xl sm:text-5xl font-extrabold leading-tight text-gray-800;
  }

  .h3,
  h3 {
    @apply sm:text-4xl text-2xl font-bold leading-10;
  }

  label ,
  .input--label{
    @apply block mb-2;
  }
  .input--field,
  input {
    @apply block w-full rounded border border-gray-300 outline-none px-2 py-1.5 text-gray-900 placeholder:text-gray-500 sm:text-sm sm:leading-6 focus:border-gray-600 placeholder:text-sm;
  }
  .checkbox--field {
    @apply relative shrink-0 appearance-none w-4 h-4 border-2 border-gray-500 rounded-sm bg-white checked:bg-blue-800 checked:border-0 focus:outline-none focus:ring-offset-0 focus:ring-2 focus:ring-blue-100;
  }
  .select--field {
    @apply block w-full rounded border border-gray-300 outline-none px-2 py-1.5 text-gray-900 placeholder:text-gray-500 sm:text-sm sm:leading-6 focus:border-gray-600;
  }
  [type="text"]:focus,
  input:where(:not([type])):focus,
  [type="email"]:focus,
  [type="url"]:focus,
  [type="password"]:focus,
  [type="number"]:focus,
  [type="date"]:focus,
  [type="datetime-local"]:focus,
  [type="month"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="time"]:focus,
  [type="week"]:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    @apply focus:ring-0 focus:outline-none;
  }
  .select_field {
    @apply px-2 py-[7px];
  }
}


.btn {
  font-weight: 600;
  padding: 10px 16px;
  border: 1px solid;
  border-color: #fafafa;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 4px;
  align-items: center;
  font-family: var(--primaryFont);
  letter-spacing: 1px;
  background-color: #f85431;
  color: #ffffff;
  max-width: 220px;
}
.btn--outline {
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.7);

  background-color: transparent;
  color: #000;
}

.btn--link {
  color: inherit;
}

.btn--primary {
  color: var(--colorPrimaryBtnText);
  background-color: var(--colorPrimaryBtnBackground);
  border-color: var(--colorPrimaryBtnBackground);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}

.btn--primary:disabled,
.btn--primary:disabled:hover {
  background-color: var(--colorPrimaryBtnDisabledBackground);
  border-color: var(--colorPrimaryBtnDisabledBackground);
}
.btn--secondary {
  color: var(--colorSecondaryBtnText);
  background-color: var(--colorSecondaryBtnBackground);
}
.btn:hover,
.btn:focus {
  outline: none;
}
.btn--primary:focus {
  background-color: var(--colorPrimaryBtnBackgroundHover);
}
.btn--secondary:focus {
  background-color: #000000;
}

.btn--svg {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--loading {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn--small {
  padding: 8px 16px;
  font-size: 15px;
}
.btn--full{
  width:100%;
}

.btn--large{
  max-width: 100%;
}

a.button {
  font-size: 1rem;
  min-width: 100px;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.screen-wrapper{
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-card-wrapper{
  padding:32px;
  border-radius: 8px;
}
@media(max-width:767px){
  .form-card-wrapper{
    padding: 32px 16px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height:100%;
  }
  .screen-wrapper{
    align-items: flex-end;
  }
}